* {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
  text-align: center;
}

p {
  margin-top: 60px;
  margin-left: 20px;
}

p::first-letter {
  color: #eca4ce;
  font-weight: bold;
  font-size: 30px;
}

span {
  color: #eca4ce;
  font-weight: bold;
  font-size: 30px;
}

table, body {
  margin: 0 auto;
  padding: 0;
}

body {
  width: 1024px;
}
body header .top {
  background-color: #bdda9b;
  min-width: 1024px;
  min-height: 100px;
}
body header nav {
  line-height: 40px;
  text-align: right;
  border: solid 1px black;
}
body header nav ul {
  display: inline;
  text-decoration: none;
  margin-right: 50px;
}
body header nav ul li {
  display: inline-block;
  padding: 13px 5px;
}
body header nav ul a {
  color: black;
  text-decoration: none;
  text-align: center;
}
body header .recherche {
  margin: 10px 10px;
  min-width: 170px;
  text-align: center;
  float: right;
}
body main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 600px;
  margin-top: 30px;
}
body main .side {
  max-width: 200px;
  min-height: 600px;
}
body main h2 {
  font-weight: 300;
  margin-left: 5px;
  padding: 20px;
}

.carou {
  align-items: center;
  width: 341px;
  height: 600px;
  display: flex;
  position: relative;
}
.carou .carou-images .image {
  background-image: url(images/carou1.jpg);
  min-width: 341px;
  min-height: 600px;
  margin-bottom: 30px;
}
.carou .carou-images .image-carou2 {
  background-image: url(images/carou2.jpg);
  min-width: 341px;
  min-height: 600px;
  margin-bottom: 30px;
}
.carou .boutons-carou {
  align-self: center;
  cursor: pointer;
  position: absolute;
  background-color: #bdda9b;
}

.precedant {
  left: 4px;
}

.suivant {
  right: 4px;
}

.recherche:focus {
  border: solid 1px #eca4ce;
  background-color: #eca4ce;
}

img {
  max-height: 400px;
  min-width: 300px;
  margin-top: 30px;
}

.side {
  max-width: 200px;
  min-height: 600px;
}

th {
  color: #eca4ce;
}

.form-grid {
  display: grid;
  gap: 20px;
  margin: 50px 200px;
  padding: 50px;
  box-shadow: 8px 8px 8px 8px #e5e2e2;
}

textarea {
  resize: none;
}

#courriel {
  grid-row: 3;
}

#courriel:focus:invalid {
  border: solid 3px red;
}

#courriel:focus:valid {
  border: solid 3px green;
  background-color: #e5e2e2;
}

#champs {
  grid-row: 6;
  resize: none;
}

#soumettre {
  grid-row: 7;
  background-color: #bdda9b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.requis::after {
  content: "*";
  color: #ff264e;
}

::placeholder, select, input, label, textarea {
  font-family: montserrat;
  font-size: 16px;
  padding: 10px;
}

table {
  padding: 0 100px;
  display: table;
  margin-left: 50px;
  border-spacing: 10px;
}
table th, table td {
  font-size: 15px;
  text-align: center;
}
table tr {
  text-align: center;
}
table tr th {
  font-size: 17px;
  font-weight: 600;
  width: 400px;
  background-color: #fff;
  border: 1px solid #141212;
}
table tr td {
  padding: 30px;
}
table tr:nth-child(even) {
  background-color: #bdda9b;
}
table tr:nth-child(odd) {
  background-color: #e5e2e2;
}
table tr:first-child {
  font-size: 13px;
  background-color: #e5e2e2;
}

footer {
  background-color: #bdda9b;
  min-width: 1024px;
  min-height: 100px;
  text-align: center;
}

.bottom {
  background-color: #bdda9b;
  min-width: 1024px;
  min-height: 100px;
}
.bottom h6 {
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
