$couleur-1: rgb(189, 218, 155);
$couleur-2: black;
$couleur-3: rgb(236, 164, 206);
$couleur-4: #fff;
$couleur-5: rgb(20, 18, 18);
$couleur-6: rgb(229, 226, 226);
$couleur-invalide: red;
$couleur-valide: green;

*{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

a{
    color: $couleur-2;
    text-decoration: none;
    text-align: center; 
}


p{
    margin-top: 60px;
    margin-left: 20px;
}

p::first-letter{
    color: $couleur-3;
    font-weight: bold;
    font-size: 30px;
}
span{
    color: $couleur-3;
    font-weight: bold;
    font-size: 30px;
}

%sans_marge{
    margin: 0 auto;
    padding: 0;
}

body{
    @extend %sans_marge;
    width: 1024px;

    header{
        .top{
            background-color: $couleur-1;
            min-width: 1024px;
            min-height: 100px;
        }
        nav{
            line-height: 40px;
            text-align: right;
            border: solid 1px $couleur-2;
        
            ul{
                display: inline;
                text-decoration: none;
                margin-right: 50px;

                li{
                    display: inline-block;
                    padding: 13px 5px;
                }
                a{
                    color: $couleur-2;
                    text-decoration: none;
                    text-align: center; 
                }
            }
        } 
        .recherche{
            margin: 10px 10px;
            min-width: 170px;
            text-align: center;
            float: right;
        }
    }
    main{
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row: 600px;
            margin-top: 30px;
        }
            .side{
                max-width: 200px;
                min-height: 600px;
            }
                h2{
                    font-weight:300;
                    margin-left: 5px;
                    padding: 20px;
                } 
    }       
}

.carou {
    align-items: center;
    width: 341px;
    height: 600px;
    display: flex;
    position: relative;

    .carou-images{

        .image {
            background-image: url(images/carou1.jpg);
            min-width: 341px;
            min-height: 600px;
            margin-bottom: 30px;
        }

        .image-carou2 {
            background-image: url(images/carou2.jpg);
            min-width: 341px;
            min-height: 600px;
            margin-bottom: 30px;
        }

    }

    .boutons-carou {
        align-self: center;
        cursor: pointer;
        position: absolute;
        background-color: $couleur-1;
        
    }
}

.precedant {
    left: 4px;
}

.suivant{
    right: 4px;
}


.recherche:focus{
  border: solid 1px $couleur-3;
  background-color: $couleur-3;
}

img{
    max-height: 400px;
    min-width: 300px;
    margin-top: 30px;
}

.side{
    max-width: 200px;
    min-height: 600px;
}

th{
    color: $couleur-3;
}


.form-grid {
    display: grid;
    gap: 20px;
    margin: 50px 200px;
    padding: 50px;
    box-shadow: 8px 8px 8px 8px $couleur-6;
}

textarea {
    resize: none;
}

#courriel {
  grid-row: 3;
}

#courriel:focus:invalid{
    border: solid 3px $couleur-invalide;
}

#courriel:focus:valid{
    border: solid 3px $couleur-valide;
    background-color: $couleur-6;
}
  
#champs {
  grid-row: 6;
  resize: none;
}

#soumettre {
    grid-row: 7;
    background-color: $couleur-1;
    color: $couleur-4;
    font-size: 20px;
    font-weight: 500;
}


.requis{
    &::after{
        content: "*";
        color: #ff264e;
    }
}

::placeholder, select, input, label, textarea {
    font-family: montserrat;
    font-size: 16px;
    padding: 10px;
}


table{
    @extend %sans_marge;
    padding: 0 100px;
    display: table;
    margin-left: 50px;
    border-spacing: 10px;

    th, td{
        font-size: 15px;
        text-align: center;
    }
    tr{
       text-align: center;
       th{
            font-size: 17px;
            font-weight: 600;
            width: 400px;
            background-color: $couleur-4;
            border: 1px solid $couleur-5;
       }

       td{
           padding: 30px;
       }

            &:nth-child(even){
                background-color:$couleur-1;
            }

            &:nth-child(odd){
                background-color: $couleur-6;
            }

            &:first-child {
                font-size: 13px;
                background-color: $couleur-6;
            }
    }
}

footer{
    background-color: $couleur-1;
    min-width: 1024px;
    min-height: 100px;
    text-align: center;
}

.bottom{
    background-color: $couleur-1;
    min-width: 1024px;
    min-height: 100px;

    h6{
        font-weight: lighter;
    }
}




